# Russian/Gen Alpha Examples, Documentation
examples/ru/*   @CalciumKing
examples/gen_alpha/* @CalciumKing
template_dict.csv    @CalciumKing
README.md       @CalciumKing
.github/*       @CalciumKing
images/*        @CalciumKing
LICENSE         @CalciumKing

# Thai Examples, Debugger File
examples/th/*   @petepoop
debug/*         @petepoop

# Compiler is co-owned
lang.py         @CalciumKing @petepoop

# Misc. Language Examples
examples/ar/*   @fredtheonlychild
examples/hi/*   @CodingSkywalker
examples/kr/*   @Petmaster123